<h5>
  Hero Detail
</h5>
<table class="table table-bordered table-condensed">
<tbody>
  <tr>
    <td class="bg-light">Id</td>
    <td>{{ hero.id }}</td>
  </tr>
  <tr>
      <td class="bg-light">Name</td>
      <td>{{ hero.name }}</td>
  </tr>
  <tr>
    <td class="bg-light">Gender</td>
    <td>{{ hero.gender }}</td>
  </tr>
  <tr>
    <td class="bg-light">Attack Type</td>
    <td>{{ hero.canFly ? 'Areal' : 'Ground' }}</td>
  </tr>
</tbody>
</table>
<button class="btn btn-primary" (click)="getData()">Get</button>
<hr/>
<button class="btn btn-primary" *ngFor="let user of users.data" (click)="getUser(user.id)">User-{{ user. id }}</button>&nbsp;&nbsp;
<hr/>
{{ users | json }}
<hr/>
{{ user | json }}
